<form action="/new" method="POST">
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <input type="submit"></input>
</form>

{% for event in events %}
  <h1> {{ event.name }} </h1>
  <p> {{ event.description }} <p>
{% endfor %}

<h2> Event locations </h2>
{% with %}

    {% set location=(-24.599097,-46.675903) %}
    {% set style="width:500px;height:500px;"%}

    {{
    googlemap(
        "simple-map",
        location.0, location.1,
        markers=[location,],
        style=style
        )
    }}

{% endwith %}
