{% extends "bootstrap/base.html" %}

{% block title %} TTI geoevents assignment {% endblock %}

{% block content %}
  <h1>Events</h1>
  <!-- Page Content -->
  	<div class="container">

		<div class="row">
			<div class="col-lg-3">
				<button id="addEvent">Add event</button>
				<div id="eventForm" class="hidden">
					<form id="newEvent">
						<label for="nameInput">Name</label><br>
						<input id="nameInput" type="text" name="name"></input><br>
						<label for="typeInput">Select type</label><br>
						<select id="typeInput" class="form-control" name="type">
							<option>walk</option>
							<option>run</option>
							<option>drive</option>
						</select>
						<label>Coordinates</label><br>
						<input id="startLat" type="text" name="startLat">Latitude</input>
						<input id="startLong" type="text" name="startLong">Longitude</input>
						<br>
						<button type="submit">Start</button>
					</form>
				</div>
				<div id="geoForm" class="hidden">
					<!--show once event has started
				  	start with form to manually fill in coordinates.
					THen Get coordinates from map
					Add button
					stop button to finish event -->
				</div>
				<h2>Saved events</h2>
				<div class="list-group">
				  <!-- This should get locations -->
				  <p>If events are selected/click there geolocations on the map should be displayed as well as other information</p>
				  {% for event in events %}
					<a href="#" class="list-group-item"> {{ event.name }} - {{ event.description }}  </a>
				  {% endfor %}
				</div>
			</div>
			<!-- /.col-lg-3 -->
			<div class="col-lg-9">

	  			<h2> Event locations </h2>
				<p> Map with geolocations should go here. Use from flask_googlemaps import GoogleMaps</p>
			</div>
	  	  <!-- /.col-lg-9 -->
		</div>
	</div>

{% endblock %}

{% block scripts %}
	{{super()}}
	<script src="{{url_for('.static', filename='js/myscripts.js')}}"></script>

{% endblock %}
