{% extends "bootstrap/base.html" %}
{% block title %} TTI geoevents assignment {% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Events</h1>
  <!-- Page Content -->
  <div class="container">

	<div class="row">

	  <div class="col-lg-3">
		<!-- <a href="{{ url_for('get_all_events') }}" class="list-group-item"> Add event </a> -->
		<button id="addEvent">Add event</button>
		<div id="eventForm" class="hidden">
			<form action="/new" method="POST">
			  <input type="text" name="name"></input>
			  <input type="text" name="description"></input>
			  <input type="submit"></input>
			</form>
		</div>
		<h2>Saved events</h2>
		<div class="list-group">
		  <!-- This should get locations -->
		  {% for event in events %}
		    <a href="#" class="list-group-item"> {{ event.name }} - {{ event.description }}  </a>
		  {% endfor %}
		</div>
	  </div>
	  <!-- /.col-lg-3 -->

	  <div class="col-lg-9">

			<h2> Event locations </h2>
		  {% with %}

			  {% set location=(-24.599097,-46.675903) %}
			  {% set style="width:500px;height:500px;"%}

			  {{
			  googlemap(
				  "simple-map",
				  location.0, location.1,
				  markers=[location,],
				  style=style
				  )
			  }}
		  {% endwith %}

	  </div>
	  <!-- /.col-lg-9 -->

	</div>

  </div>
  <!-- /.container -->
	<!-- {% block scripts %}
		{{ super() }}
		<script>
		$("#addEvent").click(function(){
			$("#eventForm").removeClass("hidden");
		});
		</script>
	{% endblock %} -->
{% endblock %}
